.Inicio{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: block;
    background-image: url(fondo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
*{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
.cajabotones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.boton {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.titulo{
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.boton:hover {
    background-color: #2f526f;
}